@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #313335, #46d657);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 155px;
    background: linear-gradient(135deg, #313335, #46d657);
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin-bottom: 15px;
    margin-left: 20px 0 12px 0;
    width: calc(100% /2 - 20px);
}

.input-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 3px;
    transition: all 0.5s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #313335;
}

.gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

.gender-details .category {
    margin: 15px 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.button {
    height: 45px;
    margin: 45px;
}

.button .reg {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #46d657, #313335);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.9s ease-in;
}

.button .reg:hover {
    background: linear-gradient(135deg, #313335, #46d657);
}

.button a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px;
    height: 100%;
    width: 100%;
    color: #313335;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }
}